@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>Build Motion builds frameworks and tools for enterprise applications. Why develop and build infrastructure components for your application? Build Motion believes that you should focus on your business and custom solution - not things that all applications need, such as:</p> <ul> <li>Business Rules</li> <li>Data Validation Engine</li> <li>Business Action Processing Engine</li> <li>Data Access Layer for 1 or more Data Stores</li> </ul>
    <p>
        Build Motion is now releasing the Vergosity Framework - available from Microsoft Nuget: Install-Package Vergosity.Framework</p>
    <p>
        The Vergosity Framework is a set of components that allow you to quickly build business applications. It 
        provides just enough infrastructure to allow you to focus on the business logic at hand – not on how to implement 
        authorization, business rules, data validation, or logging. Many times these elements of an application are 
        an after-thought. This means that you may start building the application and determine you need these things 
        later in the development cycle. Implementing infrastructure elements after you begin to develop is difficult. 
        However, the Vergosity framework makes this possible. So no worries.
    </p>
    <p>
        The Vergosity Framework provides the mechanisms for infrastructure elements. The sooner you start 
        using a framework – the sooner you will realize the benefits.
    </p>
</article>

