@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>303.356.6273</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Information:</span>
        <span><a href="mailto:info@vergosity.com">info@vergosity.com</a></span>
    </p>
</section>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            
            <h2>Matt Vaughn, Principal Software Architect</h2> <p> Build Motion provides tools, process mentoring, and development of startup software. Matt enables concepts to become a reality. Matt believes that software can be done right the first time - no excuses!</p>
        </div>
    </section>
}