<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
	</configSections>
<connectionStrings>
    <add name="BuildMotion" connectionString="Server=SQLEXPRESS;Database=BuildMotion.Membership;User Id=userIdname; Password=thePassword;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
  </appSettings>
  <autofac defaultAssembly="">
    <components>
      <component type="BuildMotion.Membership.MembershipService, BuildMotion.Membership" service="BuildMotion.Membership.IMembershipService, BuildMotion.Membership" />
      <component type="BuildMotion.Membership.Business.MembershipProvider, BuildMotion.Membership, Version=1.0.0.0, Culture=neutral" service="BuildMotion.Membership.Business.MembershipProviderBase, BuildMotion.Membership">
        <properties>
          <property name="IsPersistentCookie" value="false" />
          <property name="CookieExpirationInHours" value="8" />
					<property name="GoogleClientId" value="anonymous" />
					<property name="GoogleClientSecret" value="anonymous" />
					<property name="GoogleAppDomain"  value="yourdomainname.com" />
        </properties>
      </component>
      <component type="BuildMotion.Membership.Business.Repository, BuildMotion.Membership" service="BuildMotion.Membership.DataAccess.IRepository, BuildMotion.Membership" />
      <component type="BuildMotion.Membership.DataAccess.DataAdaptor, BuildMotion.Membership" service="BuildMotion.Membership.DataAccess.IDataAdaptor, BuildMotion.Membership" />
      <component type="BuildMotion.Membership.DataAccess.DataAccessContext, BuildMotion.Membership" service="BuildMotion.Membership.DataAccess.DataAccessContextBase, BuildMotion.Membership" />
      <component type="BuildMotion.Membership.DataAccess.EFDataAccess, BuildMotion.Membership" service="BuildMotion.Membership.DataAccess.DataAccessBase, BuildMotion.Membership">
        <properties>
          <property name="ConnectionStringName" value="BuildMotion" />
        </properties>
      </component>
    </components>
  </autofac>
</configuration>